body{
	margin: 0 auto;
	width: 960px;
	line-height: 150%;
	background-image: url(../images/cork.png);
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
	color: #777777;
	margin: 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

ul{
	background: #ffffff;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 80px;
	border-bottom: 4px solid grey;

}

#a, #b, #c{
	margin: 30px 0;
	text-decoration: none;
	color: #777777;
	text-align: center;
	padding: 2px 10px;
	float: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1{
	background-color: teal;
	margin-right: 150px;
	text-align: center;
}

h3{
	margin: 10px;
	color: teal;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#name, #email{
	margin: 0 10px;
	width: 95%;
	height: 30px;
}

#mes{
	margin: 0 10px 10px 10px;
	width: 95%;
	height: 220px;
}

#a, #b{
	border-right: 2px solid grey;
	padding-right: 15px;

}

#sub{
	text-align: center;
	margin: 0 10px 10px 10px;
	width: 150px;
	padding: 10px 0px;
	font-size: 17px;
	background: teal;
	color: white;	
}

#subb:hover{
	background: black;
	color: teal;
}

#logo{
	float: left;
	color: #ffffff;
	font-size: 25px;
	background-color: teal;
	font-weight: bold;
	padding: 30px;
	margin-right: 280px;
	margin-left: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#main-heading{
	font-size: 25px;
	font-weight: bold;
	color: teal;
	display: block;
	margin: 20px 20px 0px 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 30px;
	border-bottom: 4px solid grey;
}

#connectMe{
	font-size: 22px;
	font-weight: bold;
	color: teal;
	display: block;
	margin: 20px 20px 0px 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 15px;
	border-bottom: 4px solid grey;
}

#main{
	background-color: #ffffff;
	width: 650px;
	float: left;
	margin-left: 30px;
	margin-right: 15px;
	margin-top: 30px;
	border: 4px solid grey;
}

#connect{
	background-color: #ffffff;
	margin: 30px auto;
	width: auto;
	float: left;
	border: 4px solid grey;

}
#git-image, #link-image, #sof-image{
	width: 60px;
	height: 60px;
	float: left;
	margin: 15px 5px;
}

#cris-image{
	display: inline;
	float: left;
	margin: 30px 20px 10px 20px;
	width: 200px;
	height: 200px;
}

#footer{
	padding: 20px 0px;
	background: #666666;
	border-top: 10px solid teal;
	margin-top: 100px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	clear: both;
	position: relative;
	top: 100px;
}

.port{
	width: 250px;
	height: 200px;
	margin: 10px 37px;	
}


.img1{
	float: left;
	background-image: url(../images/img1.jpg);

}

.img2{
	float: left;
	background-image: url(../images/img2.jpg);

}

.img3{
	float: left;
	background-image: url(../images/img3.jpg);

}

.img4{
	float: left;
	background-image: url(../images/img4.jpg);

}

.img5{
	float: left;	
	background-image: url(../images/img5.jpg);

}

.btn{
	text-align: center;
	width: 250px;
	padding: 10px 0px;
	background: teal;
	color: white;
	margin-top: 145px;
	margin-left: auto;
	margin-right: auto;
}
a{
	text-decoration: none;
}
.btn:hover{
	color: teal;
	background: black;
}

@media only screen and (max-width:980px){
	#logo{
		margin-left: 107px;
		margin-right: 170px;
		width: 270px;
		padding: 28px 10px;

	}
	#a, #b, #c{
		padding: 2px 10px;
		font-size: 15px;
		margin-top: 30px;
	}
	#main{
		margin-top: 30px;
		margin-left: 107px;
		width: 360px;
		margin-right: 36px;
	}
	#connect{
		width: 228px;
		height: 170px;
		margin-right: 110px;
		margin-top: 30px;
	}
	#connectMe{
		text-align: center;
	}
	#cris-image{
		width: 250px;
		height: 228px;
		display: block;
		margin: 25px 55px;
	}	
	#git-image, #link-image, #sof-image{
		width: 50px;
		height: 50px;
		float: left;
		margin: 25px 5px;
	}
	#git-image{
		margin-left: 24px;
	}
	#footer{
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width:768px){
	#logo{
		margin-left: 20px;
		margin-right: 150px;
		width: 270px;
		padding: 28px 10px;
	}
	#a, #b, #c{
		padding: 2px 10px;
		font-size: 15px;
		margin-top: 30px;
	}
	#main{
		margin: 38px 20px;
		width: 678px;
	}
	#connect{
		width: 678px;
		height: 170px;
		margin-left: 20px;
		margin-top: 0px;
	}
	#connectMe{
		text-align: left;
		margin-left: 15px;
	}
	#cris-image{
		width: 250px;
		height: 228px;
		margin: 30px;
	}	
	#git-image, #link-image, #sof-image{
		width: 50px;
		height: 50px;
		float: left;
		margin: 25px 5px;
	}
	#git-image{
		margin-left: 24px;
	}
	#footer{
		width: 768px;
		float: left;
		text-align: center;
	}
}
@media (max-width:640px){
	
}


