body{
	margin: 0 auto;
	width: 960px;
	line-height: 150%;
	background: url("../images/topography.png");
	font-family: 'Quicksand', sans-serif;
}
p{
	color: #777777;
	margin: 30px;
}

ul{
	background: #ffffff;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid grey;
	border-radius: 5px;
}

#nav-about, #nav-portfolio, #nav-contact{
	margin: 30px 0;
	text-decoration: none;
	color: #777777;
	text-align: center;
	padding: 2px 10px;
	float: left;
}
h1{
	background-color: teal;
	margin-right: 150px;
	text-align: center;
}

h3{
	margin: 10px;
	color: teal;
}

#name{
	margin: 0 10px;
	width: 90%;
	height: 30px;
	font-family: 'Quicksand', sans-serif;
}

#mes{
	margin: 0 10px 10px 10px;
	width: 90%;
	height: 220px;
	font-family: 'Quicksand', sans-serif;
}

#nav-about, #nav-portfolio{
	border-right: 1px solid grey;
	padding-right: 15px;

}

#sub{
	text-align: center;
	margin: 0 10px 10px 10px;
	width: 150px;
	padding: 10px 0px;
	font-size: 17px;
	background: teal;
	color: white;
	border: 1px solid teal;
	border-radius: 4px;

}

#subb:hover{
	background: black;
	color: teal;
}

#logo{
	float: left;
	color: #ffffff;
	font-size: 25px;
	background-color: teal;
	font-weight: bold;
	padding: 28px;
	margin-right: 280px;
	margin-left: 30px;
}

#main-heading{
	font-size: 25px;
	font-weight: bold;
	color: teal;
	display: block;
	margin: 20px 20px 0px 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
	border-radius: 4px;

}

#connectMe{
	font-size: 22px;
	font-weight: bold;
	color: teal;
	display: block;
	margin: 20px 20px 0px 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid grey;
	border-radius: 4px;

}

#main{
	background-color: #ffffff;
	width: 650px;
	float: left;
	margin-left: 30px;
	margin-right: 15px;
	margin-top: 30px;
	border: 1px solid grey;
	border-radius: 4px;

}

#connect{
	background-color: #ffffff;
	margin: 30px auto;
	width: auto;
	float: left;
	border: 1px solid grey;
	border-radius: 4px;


}
#git-image, #link-image, #sof-image{
	width: 60px;
	height: 60px;
	margin: 15px 5px;
	text-align: center;
}

#cris-image{
	display: inline;
	float: left;
	margin: 30px 20px 10px 20px;
	width: 200px;
	height: 200px;
}

#footer{
	padding: 20px 0px;
	background: #666666;
	border-top: 3px solid teal;
	border-radius: 4px;

	margin-top: 100px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	clear: both;
	position: relative;
	top: 100px;
}

.port{
	width: 250px;
	height: 200px;
	margin: 10px 37px;

}


#img1{
	float: left;
	background-image: url(../images/img1.jpg);
	background-size: cover;

}

#img2{
	float: left;
	background-image: url(../images/img2.jpg);
	background-size: cover;

}

#img3{
	float: left;
	background-image: url(../images/img3.jpg);
	background-size: cover;

}

#img4{
	float: left;
	background-image: url(../images/img4.jpg);
	background-size: cover;

}

#img5{
	float: left;	
	background-image: url(../images/img5.jpg);
	background-size: cover;

}
#img6{
	float: left;	
	background-image: url(../images/img6.jpg);
	background-size: cover;
	
}

.btn{
	text-align: center;
	width: 250px;
	padding: 10px 0px;
	background: teal;
	color: white;
	margin-top: 145px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;

}
a{
	text-decoration: none;
}
.btn:hover{
	color: teal;
	background: black;
}

@media only screen and (max-width:980px){
	body{
		width: 836px;
		margin: 0 auto;
	}
	#logo{
		margin-left: 107px;
		margin-right: 170px;
		width: 270px;
		padding: 28px 10px;

	}
	#nav-about, #nav-portfolio, #nav-contact{
		padding: 2px 10px;
		font-size: 15px;
		margin-top: 30px;
	}
	#main{
		margin-top: 30px;
		margin-left: 107px;
		width: 360px;
		margin-right: 30px;
	}
	#connect{
		width: 228px;
		height: 170px;
		margin-top: 30px;
	}
	#connectMe{
		text-align: center;
	}
	#cris-image{
		width: 250px;
		height: 228px;
		display: block;
		margin: 25px 55px;
	}	
	#git-image, #link-image, #sof-image{
		width: 50px;
		height: 50px;
		float: left;
		margin: 25px 5px;
	}
	#git-image{
		margin-left: 24px;
	}
	.port{
		margin-left: 55px;
	}
	#footer{
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width:768px){
	body{
		width: 712px;
		margin: 0 auto;
	}
	#logo{
		margin-left: 20px;
		margin-right: 150px;
		width: 270px;
		padding: 28px 10px;
	}
	#nav-about, #nav-portfolio, #nav-contact{
		padding: 2px 10px;
		font-size: 15px;
		margin-top: 30px;
	}
	#main{
		margin: 38px 20px;
		width: 678px;
	}
	#connect{
		width: 678px;
		height: 170px;
		margin-left: 20px;
		margin-top: 0px;
	}
	#connectMe{
		text-align: left;
		margin-left: 15px;
	}
	#cris-image{
		width: 250px;
		height: 228px;
		margin: 30px;
	}	
	#git-image, #link-image, #sof-image{
		width: 50px;
		height: 50px;
		float: left;
		margin: 25px 5px;
	}
	#git-image{
		margin-left: 24px;
	}
	.port{
		margin: 10px 44.5px;
	}
	#footer{
		width: 768px;
		float: left;
		text-align: center;
	}
}
@media only screen and (max-width:640px){
	body{
		width: 437px;
		margin: 0 auto;
	}
	ul{
		height: 106px;
	}
	#logo{
		display: block;
		width: 437px;
		padding: 10px 0px;
		margin: 0 auto;
		text-align: center;
	}
	#nav-about, #nav-portfolio, #nav-contact{
		padding: 0px 50px;
		float: left;
		margin-top: 25px;
		font-size: 13px;
	}
	#main{
		width: 410px;
		margin: 0 10px;

	}
	#connect{
		width: 410px;
		height: 170px;
		margin: 20px 10px;
	}
	#connectMe{
		text-align: left;
		margin-left: 15px;
	}
	#cris-image{
		width: 250px;
		height: 228px;
		margin: 30px;
		float: none;
		margin-left: 80px;
	}	
	#git-image, #link-image, #sof-image{
		width: 50px;
		height: 50px;
		float: left;
		margin: 25px 5px;
	}
	#git-image{
		margin-left: 24px;
	}
	.port{
		margin: 5px 80px;
	}
	#footer{
		width: 437px;
		text-align: center;
	}
	
}


